In [1]:
import pandas as pd
from pymongo import MongoClient
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
import warnings
import itertools
warnings.filterwarnings('ignore')

import numpy as np
from sklearn.metrics import mean_squared_error

In [2]:

uri ="mongodb://dvexcellus:Aezakmi0174@165.232.189.44:27017/?authMechanism=SCRAM-SHA-1"
client=MongoClient(uri)
db=client.FarmTool

In [3]:
data = list(db.kalimati_price.find())
df = pd.DataFrame(data)
df

,_id,Commodity,Unit,Maximum,Minimum,Average,Date,Date_nep,commodity_id
0,6003e6ee4ea2931dbed315aa,Tomato Big(Nepali),Kg,Rs. 45,Rs. 40,42.50,2021-01-17,NaN,17
1,6003e6ee4ea2931dbed315e3,Turnip A,Kg,Rs. 80,Rs. 70,75.00,2021-01-17,NaN,74
2,6003e6ee4ea2931dbed31603,Garlic Green,Kg,Rs. 100,Rs. 90,95.00,2021-01-17,NaN,106
3,6003e6ee4ea2931dbed315e6,Tofu,Kg,Rs. 80,Rs. 70,75.00,2021-01-17,NaN,77
4,6003e6ee4ea2931dbed315db,Sugarbeet,Kg,Rs. 70,Rs. 60,65.00,2021-01-17,NaN,66
...,...,...,...,...,...,...,...,...,...
75384,64e959e4f40512e3c5852a30,Bottle Gourd,Kg,90,80,85,2023-08-26,2080-05-09,45
75385,64e959e4f40512e3c5852a31,Bitter Gourd,Kg,80,70,75,2023-08-26,2080-05-09,44
75386,64e959e4f40512e3c5852a32,Sword Bean,Kg,90,80,87,2023-08-26,2080-05-09,43
75387,64e959e4f40512e3c5852a33,Garlic Dry Chinese,Kg,260,240,252,2023-08-26,2080-05-09,108
75388,64e959e4f40512e3c5852a34,Garlic Dry Nepali,Kg,280,250,263,2023-08-26,2080-05-09,687

In [4]:


df_value = df[['Commodity']]
df_values = df_value.value_counts()
df_values = pd.DataFrame(df_values)
df_values.columns =['Commodity']
df_values.drop('Commodity', axis=1, inplace=True)
df_values.reset_index(level=0, inplace=True)
datas= df_value.values

def listToString(s): 
    str1 = "" 
    for ele in s: 
        str1 += ele    
    return str1

In [7]:
for data in datas[:2]:
    res = listToString(data)

    #filter to seperate the data accoriding to the product
    tom= (df['Commodity'] == res)
    df_to = df[tom]

    #total data of particular product
    val = len(df_to)
    ta= 5

    sta = val-ta
    df_to.index = pd.to_datetime(df_to['Date'], format='%Y.%m.%d')
    
    df_to['Minimum'] = df_to['Minimum'].str.replace('Rs. ', '')
    df_min=df_to[['Minimum']]
    df_min= df_min.astype(float)
    
    df_to['Maximum'] = df_to['Maximum'].str.replace('Rs. ', '')
    df_max = df_to[['Maximum']]
    df_max= df_max.astype(float)

    # using the variable above to seperate the training and testing data
    df_train= df_min[0:sta]
    df_tester= df_min[sta:val]
   


    df_train1= df_max[0:sta]
    df_tester1= df_max[sta:val]
    
    p=d=q=range(0,2)
    pdq = list(itertools.product(p,d,q))
   

    Z=[]
    Y=[]


    # lower ac_error = more accuracy
    for param in pdq:
        try:
            model_arima = sm.tsa.ARIMA(df_train1,order=param, trend='t')
            model_arima_fit = model_arima.fit()
            df_fore=model_arima_fit.forecast(steps=5)
            df_fore = pd.DataFrame(df_fore)
            ac_error = np.sqrt(mean_squared_error(df_tester1,df_fore[:5]))
            dataset_max = {"ac_error":ac_error,"param":df_fore}
            Z.append(dataset_max)
            
            
            model_arimaa = sm.tsa.ARIMA(df_train,order=param, trend='t')
            model_arima_fiat = model_arimaa.fit()
            df_forea=model_arima_fiat.forecast(steps=5)
            df_forea = pd.DataFrame(df_forea)
            ac_errora = np.sqrt(mean_squared_error(df_tester,df_forea[:5]))
            dataset_min = {"ac_error":ac_errora,"param":df_forea}
            Y.append(dataset_min)
        except:
            continue
    min_error = min(Y, key=lambda x: x['ac_error'])
    max_error = min(Z, key=lambda x: x['ac_error'])


#MINIMUM_FORECAST
#     df_model= sm.tsa.ARIMA(df_train, order=(8,1,7),trend ='t') #change in the number of order will bring changes in the outcome accuracy 
#     df_model_fit= df_model.fit()
#     df_fore=df_model_fit.forecast(steps=7) # steps denotes the period of forecast neeeded, in this case 7 days(1 week)
#     df_fore = pd.DataFrame(df_fore)
    df_fore = min_error['param']
    df_fore.reset_index(drop=True, inplace=True)
    df_tester.reset_index(drop=True, inplace=True)
    
    
#MAXIMUM_FORECAST
#     df_model1= sm.tsa.ARIMA(df_train1, order=(8,1,8),trend ='t')
#     df_model_fit1= df_model1.fit()
#     df_fore1=df_model_fit1.forecast(steps=7)
#     df_fore1 = pd.DataFrame(df_fore1)
    df_fore1 = max_error['param']

    df_fore1.reset_index(drop=True, inplace=True)
    df_tester1.reset_index(drop=True, inplace=True)


    df_forecast = pd.date_range(start='2023-08-21', periods=len(df_fore), freq='D')
    df_forecast = pd.DataFrame(df_forecast)
    df_forecast.columns=['Date']
    
    df_forecast = df_forecast.join(df_fore['predicted_mean'])
    df_forecast.columns=['Date',"Forecast(MIN)"]


#     df_forecast = df_forecast.join(df_fore2['predicted_mean'])
#     df_forecast.columns=['Date',"Forecast(MIN)","Forecast(AVG)"]


    df_forecast = df_forecast.join(df_fore1['predicted_mean'])
#     df_forecast.columns=['Date',"Forecast(MIN)","Forecast(AVG)","Forecast(MAX)"]
    df_forecast.columns=['Date',"Forecast(MIN)","Forecast(MAX)"]
  


    df_forecast['Commodity'] = res
    df_forecast['Forecast(MIN)'] = df_forecast['Forecast(MIN)'].round()
    df_forecast['Forecast(MAX)'] = df_forecast['Forecast(MAX)'].round()
    df_forecast['Forecast(AVG)'] = df_forecast['Forecast(MIN)'] + (df_forecast['Forecast(MAX)'] - df_forecast['Forecast(MIN)']) / 2
    print(df_forecast)

        Date  Forecast(MIN)  Forecast(MAX)           Commodity  Forecast(AVG)
0 2023-08-21           98.0          114.0  Tomato Big(Nepali)          106.0
1 2023-08-22           91.0          106.0  Tomato Big(Nepali)           98.5
2 2023-08-23           91.0          106.0  Tomato Big(Nepali)           98.5
3 2023-08-24           91.0          106.0  Tomato Big(Nepali)           98.5
4 2023-08-25           91.0          107.0  Tomato Big(Nepali)           99.0
        Date  Forecast(MIN)  Forecast(MAX) Commodity  Forecast(AVG)
0 2023-08-21           71.0           81.0  Turnip A           76.0
1 2023-08-22           72.0           82.0  Turnip A           77.0
2 2023-08-23           72.0           82.0  Turnip A           77.0
3 2023-08-24           72.0           82.0  Turnip A           77.0
4 2023-08-25           72.0           82.0  Turnip A           77.0

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error


#taking one particular product
tom= (df['Commodity'] == 'Tomato Big(Nepali)')
df_to = df[tom]
val = len(df_to)
ta= 10
sta = val-ta
df_to.index = pd.to_datetime(df_to['Date'], format='%Y.%m.%d')
    
df_to['Maximum'] = df_to['Maximum'].str.replace('Rs. ', '')
df_max = df_to[['Maximum']]
df_max= df_max.astype(float)
df_train1= df_max[0:sta]
df_tester1 = df_max[sta:val]


import itertools
import statsmodels.api as sm

#change the range for more possibilities for better accuracy
p=d=q=range(0,5)
pdq = list(itertools.product(p,d,q))
pdq

Z=[]


# lower ac_error = more accuracy
for param in pdq:
    try:
        model_arima = sm.tsa.ARIMA(df_train1,order=param, trend='t')
        model_arima_fit = model_arima.fit()
        df_fore=model_arima_fit.forecast(steps=10)
        df_fore = pd.DataFrame(df_fore)
        ac_error = np.sqrt(mean_squared_error(df_tester1,df_fore))
        dataset = {"ac_error":ac_error,"param":param}
        print(dataset)
        Z.append(dataset)
#     except:
#         continue
min_error = min(Z, key=lambda x: x['ac_error'])
print(min_error)

In [36]:
    print(dataset_max)

{'ac_error': 5.477260658957129, 'param':      predicted_mean
809       79.999983
810       79.999972
811       79.999963
812       79.999956
813       79.999949
814       79.999942
815       79.999936
816       79.999930
817       79.999923
818       79.999917}

In [38]:
df_forecast

        Date  Forecast(MIN)  Forecast(AVG)  Forecast(MAX) Commodity
0 2023-08-21           72.0           77.0           82.0  Turnip A
1 2023-08-22           73.0           78.0           83.0  Turnip A
2 2023-08-23           73.0           77.5           82.0  Turnip A
3 2023-08-24           72.0           77.0           82.0  Turnip A
4 2023-08-25           73.0           78.0           83.0  Turnip A
5 2023-08-26           74.0           78.5           83.0  Turnip A
6 2023-08-27           74.0           78.5           83.0  Turnip A